
# UCPeM generated, write above to not be overwritten
vue3gui
adminUICommon
structSync
struct
dependencyInjection
eventLib
virtualNetworkModem
virtualNetwork
registry
comTypes
remoteUIFrontend
remoteUICommon
