
# UCPeM generated, write above to not be overwritten
/simpleDB
/struct
/structSync
/dependencyInjection
/eventLib
/nodeLogger
/logger
/prettyPrint
/adminUIClient
/adminUICommon
/virtualNetworkModem
/virtualNetwork
/registry
/comTypes
/remoteUIBackend
/remoteUICommon
